@import url(reset.css);

body {
  width: 100%;
}

.pic {
  height: 427px;
  width: 100%;

  position: relative;
  overflow: hidden;
}

.pic #pic1 {
  position: absolute;
}

.pic #pic2 {
  position: absolute;
}

.pic #pic3 {
  position: absolute;
}

.pic #pic4 {
  position: absolute;
}

.button {
  position: relative;
  text-align: center;
}

.button #next {
  display: inline-block;
}

.button #circle {
  display: inline;
  vertical-align: middle;
}

.button #back {
  display: inline-block;
}

#circle {
  font-size: 10px;
}
