@import url(reset.css);

body {
  width: 100%;
}

.pic {
  /* position: relative; */
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.pic #pic1 {
  /* position: relative; */
  z-index: 500;
  margin: 0 2%;
}

.pic #pic2 {
  position: absolute;
  z-index: 400;
  margin: 0 2%;
}

.pic #pic3 {
  position: absolute;
  /* top: 0;
  left: 0; */
  z-index: 300;
  margin: 0 2%;
}

.pic #pic4 {
  position: absolute;
  /* top: 0;
  left: 0; */
  z-index: 200;
  margin: 0 2%;
}

.button {
  position: relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.button #next {
  display: inline-block;
}

.button #circle {
  display: inline;
  vertical-align: middle;
}

.button #back {
  display: inline-block;
}
